.section {

}

.container {

}

.hero {
  position: relative;
  background: $c-hero;
  display: flex;
  justify-content: center;
}

.back-bttn {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.avatar__pic {
  margin: 1.5rem 0rem;
  width: 5rem;
  border-radius: 50%;
}

.space {
  display: flex;
  justify-content: center;

  > * + * {
    border-top: $s-border;
  }

  &__icon {

  }

  &__txt {
    font-size: 10px;
  }
}
